django>=6.0,<7.0
psycopg2-binary>=2.9,<3.0
django-environ>=0.11,<1.0
Pillow>=10.0,<13.0
djangorestframework>=3.17,<4.0
django-cors-headers>=4.9,<5.0
djangorestframework-gis>=1.2,<2.0
django-filter>=24.0,<26.0
